<%# app/views/quotes/index.html.erb %>

<%= turbo_stream_from "quotes" %>
<main class="container">
        <div class="header">
            <h1>Quotes</h1>
            <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary"
            %>
        </div>

    <%= turbo_frame_tag Quote.new %>
    
    <%= turbo_frame_tag Quote.new %>
    <% @quotes.each do |quote| %>
        <%= render quote %>
    <% end %>
</main>